.profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
.btn-antd{
  width: 100px;
  margin:10PX;
}


/*  */

h1 {
  font-size: 24px;
  text-align: center;
  color: #333;
}

.profile-info {
  font-size: 16px;
  color: #555;
}

.label-profile {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.input-profile {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:disabled {
  background-color: #eee;
  cursor: not-allowed;
}
.btn-profile{
  text-align: center;
}