select {
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 150px;
  padding: 6px 0 6px 0;
}
.post-category input {
  display: block;
  margin: 10px 0 10px 0;
}
.post-category {
margin-top: 20px;
}
