.body {
  margin: 100px 50px 10px 50px;
}

.btn-book {
  display: block;
  margin: 0px 0 20px 0;
  color: black;
  background-color: white;
}
.tab-item{
  background-color: #ccc;
  width: 200px;
  color: black;
  background-color: ccc;
  align-items: center;
  padding: 10px 0 10px 0;
  margin: 0 5px 10px 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.tab-inline {
  display: flex;
}
.c-check-box input {
  margin-right: 10px;
}
.btn-book-menu {
  width: 200px;
  color: black;
  margin: 0 5px 10px 5px;
  background-color: #ccc;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
