.staff-table {
  width: 100%;
  border-collapse: collapse;
}

.staff-table th,
.staff-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.staff-table th {
  background-color: #6A2A4B;
}

.staff-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.staff-table tr:hover {
  background-color: #ccc;
}
.btn-staff{
  width: 150px;
  display: flex;
  color: white;
  background-color: #6A2A4B;
}
