/* styles.css */
.navbar {
  background-color: #333;
  color: #fff;
}
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.container{
  display: block;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  text-decoration: none;
  font-size: 24px;
}

.shop-name {
  font-weight: bold;
  font-size: 28px;
  color: #ff6600;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-control {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.nav-element{
  color: #fff;
}

/* username */
.profile-link {
  text-decoration: none;
  font-size: small;
}

.profile-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white; 
  border-radius: 100%; 
  height: 50px;
  width: 50px;
}
