.picking-block input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.details-section {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.details-inputs {
    display: flex;
    gap: 10px;
}

.book-details {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-details {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.btn-picking-out {
    text-align: center;
}
.btn-col{
    margin-top: 12px;
}
.customer-block{
    display: block;
    margin: 20px 0 0 20px;
}
.customer-block input{
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 5px 10px 5px 10px;
}
.edit-picking-out{
    text-align: center;
}
.input-number{
    width: 50%;
}
