.book-detail-block {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  position: fixed;
  margin: 70px 0 0 30px;
}
.btn-bookdetail{
  display: block;
  margin: 0px 0 20px 0;
  width: 200px;
  color: white;
  background-color: #6A2A4B;
}