/* styles.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}
.table-row:hover {
  background-color: #ccc;
  cursor: pointer;
}

/* page number  */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-button:hover {
  background-color: #6a2a4b;
  color: #fff;
}

.page-button.active {
  background-color: #6a2a4b;
  color: #fff;
  font-weight: bold;
}

.checkbox-label {
  display: block;
  align-items: center;
}

.checkbox-label input {
  margin-right: 5px;
}

.checkbox-label input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
.filter-title {
  display: flex;
}
.filter-icon {
  margin-top: 4px;
  margin-right: 5px;
  font-size: 18px;
}

.create-book-block {
  display: flex;
  margin: 10px 0 10px 0;
}
.create-book-block input{
  width: 100%;
  padding: 5px;
  height: 40px;
  margin: 0 10px 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-create-book{
  text-align: center;
}

/*  */
.search-bar{
  margin: 20px 0 10px 0;
}
.filter-group{
  margin: 0 0 20px 0;
}