/* styles.css */
table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}
.table-row:hover {
  background-color: rgb(92, 161, 234);
  cursor: pointer; 
}

/* page number  */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-button:hover {
  background-color: #007bff;
  color: #fff;
}

.page-button.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}
/*  */

/* styles.css */
.scrollable-content {
  max-height: 100vh; /* Giới hạn chiều cao của phần tử */
  overflow: hidden; /* Ẩn thanh cuộn */
}
